* {
font-size: 12px;
}

.container-fluid img{
  width: 100%; 
    z-index: 100;
  background-attachment: fixed;
  background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
}

.well{
  margin-top: 14%;
}

legend.scheduler-border {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}