/* font */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Bona Nova', serif; */
    /* font-family: 'Titillium Web', sans-serif; */
    font-size: 12px;
    /* background-color: codetblue; */
}

body a {
text-decoration: double;
}

.accordian-header {
    background-color: black !important;
}

table {
    /* line-height: 2rem; */

    padding-top: 0px;
    padding-bottom: 0px;
}

.table thead tr th {
    vertical-align: middle;
    text-align: center;
}

#dhkp21,
#example2 {
    padding-right: 0px;
    padding-left: 0px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none
}

tr th td {
    padding: 0 !important;
    margin: 0 !important;
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 25px;
}

.nav-third-level li a {
    padding-left: 45px;
}

    select[readonly] {
        background: #eee;
        /*Simular campo inativo - Sugestão @GabrielRodrigues*/
        pointer-events: none;
        touch-action: none;
    }
    
#keluar {
    position: fixed;
    list-style-type: none;
    padding-bottom: 1em;
    bottom: 0;
}
